body {
  --color-primary: #20A647;
  --color-white: #fff;
  --color-gray: #ddd;
  --color-black: #000;
  font-family: 'Poppins', sans-serif;
}

body.overflow-hidden {
  overflow: hidden;
}

.btn {
  border-radius: 12px;
  font-size: 15px;
}

.btn--delete {
  background-color: var(--color-white);
  padding: 0;
  margin-right: 15px;
  height: 30px;
  display: flex;
  align-items: center;
}

.btn--square {
  width: 44px;
  height: 44px;
  padding: 0;
}

.btn--border {
  border-color: var(--color-primary);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 500;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
  color: #aaa;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn--primary {
  padding: 10px 0;
  background-color: var(--color-primary);
  color: white;
}

.input {
  position: relative;
}

.input.--type.--icon {
  border: 1px solid #E3E3E3;
  border-radius: 12px;
  position: relative;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.input.--type.--icon:before {
  content: 'Rp';
  font-size: 14px;
  font-weight: 600;
}

.input.--type.--icon .input_input {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 20px;
  padding-left: 10px;
}

.input.--radio .input_input {
  opacity: 0;
  inset: 0;
  position: absolute;
}

.input.--radio .input_input:checked ~ label:before {
  background-color: var(--color-primary);
}

.input.--radio .input_label {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.input.--radio .input_label:before {
  transition: all .5s ease;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  content: '';
  width: 21px;
  height: 21px;
  border-radius: 20px;
  display: inline-block;
  outline: 1px solid;
  margin-right: 10px;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.mt-0 {
  margin-top: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.fixed-bottom {
  padding: 13px 20px 35px;
  margin-right: auto !important;
  margin-left: auto !important;
  bottom: 0;
  border-radius: 12px 12px 0 0;
}

.fixed-bottom-wrapper {
  display: none;
}

.fixed-bottom-wrapper.active {
  display: flex;
}

.counter {
  display: flex;
}

.counter input[type=text].counter_input {
  width: 44px;
  border: 0;
  outline: 0;
  padding: 0;
  font-style: normal;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: var(--color-black);
}

.counter_btn {
  background-color: var(--color-gray);
  font-size: 29px;
}

.counter_btn.disable {
  pointer-events: none;
}

.close {
  opacity: 1;
}

.close:focus, .close:hover {
  opacity: 1;
}

.cart_img {
  overflow: hidden;
  border-radius: 12px;
  flex: 0 0 60px;
  width: 60px;
  height: 60px;
  margin-bottom: 0;
}

.cart_btn {
  padding: 8px 19px;
}

.cart .counter_input {
  height: 30px;
}

.cart .counter_btn {
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 8px;
}

.cart_list {
  margin: -10px 0;
  overflow-y: auto;
  max-height: 400px;
  padding-bottom: 70px;
}

.cart_list_item {
  display: flex;
  column-gap: 1rem;
  align-items: flex-start;
  padding: 10px 0;
}

.cart_price {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-primary);
}

.cart_title {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 1.5rem;
}

.cart_detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 60px;
}

.cart_detail_title {
  margin-bottom: 0;
  color: var(--color-black);
  line-height: 20px;
  font-size: 15px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 5px;
}

.cart_detail_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_footer {
  flex-direction: column;
}

.cart_footer > :not(:last-child),
.cart_footer > :not(:first-child) {
  margin-left: 0;
  margin-right: 0;
}

.cart_footer_btn {
  padding: 10px 0;
}

.cart_footer_info {
  font-size: 9px;
  color: #949494;
  margin-bottom: 12px;
  margin-top: 5px;
}

.cart_footer_estimated {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cart_footer_estimated p {
  color: var(--color-black);
  font-size: 16px;
  font-weight: 600;
}

.cart.modal.modal-bottom .modal-dialog {
  max-width: 500px;
  right: 0;
  left: 0;
}
