.no-pesan {
  border: 0;
  padding-left: 0;
}

.no-pesan_form {
  margin-bottom: 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #ededed;
}

.no-pesan_right {
  padding-top: 25px;
}

.no-pesan .btn--border {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px 22px;
  font-weight: 500;
}

.label-name {
  display: block;
  margin-left: 0;
  text-align: center;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

.dv-margin {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
}

.dv-margin span {
  font-size: 14px;
  height: 21px;
}

.dv-margin .label-ubah {
  margin-bottom: 0;
  width: 40px;
  text-align: right;
}

.dv-margin .label-ubah svg {
  margin-top: 3px;
}

.dv-margin .label-name {
  padding: 0;
  text-align: left;
  flex: 0 0 98px;
  color: #949494;
}

.dv-margin .label-value {
  flex: 1;
  color: #000000;
  font-weight: 600;
}

.dv-margin .label-value.unset {
  color: #20A647;
}

.modal-dialog {
  margin: 0;
}

.modal-content {
  height: 100vh;
}

.modal-footer {
  border-top: 0;
}

.modal-title {
  font-size: 16px;
  font-weight: 600;
}

.modal-header {
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ededed;
}

.modal-header .close {
  float: none;
  margin: 0;
  padding: 0;
}

.update-header {
  margin-bottom: 0;
}

.update-content {
  width: 100%;
  margin: 0;
  border-radius: 0;
}

.update-title {
  margin-left: 18px;
  margin-top: 0;
}

.update-label {
  margin: 0;
  margin-bottom: 25px;
  color: #4E4E4E;
}

.update-form-name {
  color: #000;
}

.update-form-group {
  margin: 0;
  padding: 0;
}

.btn-simpan {
  margin: 0;
}
