body {
  --color-primary: #20A647;
  --color-white: #fff;
  --color-gray: #ddd;
  --color-black: #000;
  font-family: 'Poppins', sans-serif;
}

body.overflow-hidden {
  overflow: hidden;
}

.btn {
  border-radius: 12px;
  font-size: 15px;
}

.btn--delete {
  background-color: var(--color-white);
  padding: 0;
  margin-right: 15px;
  height: 30px;
  display: flex;
  align-items: center;
}

.btn--square {
  width: 44px;
  height: 44px;
  padding: 0;
}

.btn--border {
  border-color: var(--color-primary);
  background-color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 500;
}

.btn.disabled, .btn:disabled {
  opacity: 1;
  color: #aaa;
}

.btn.focus, .btn:focus {
  box-shadow: none;
}

.btn--primary {
  padding: 10px 0;
  background-color: var(--color-primary);
  color: white;
}

.input {
  position: relative;
}

.input.--type.--icon {
  border: 1px solid #E3E3E3;
  border-radius: 12px;
  position: relative;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.input.--type.--icon:before {
  content: 'Rp';
  font-size: 14px;
  font-weight: 600;
}

.input.--type.--icon .input_input {
  border: 0;
  outline: 0;
  width: 100%;
  padding: 20px;
  padding-left: 10px;
}

.input.--radio .input_input {
  opacity: 0;
  inset: 0;
  position: absolute;
}

.input.--radio .input_input:checked ~ label:before {
  background-color: var(--color-primary);
}

.input.--radio .input_label {
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}

.input.--radio .input_label:before {
  transition: all .5s ease;
  background-color: white;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  content: '';
  width: 21px;
  height: 21px;
  border-radius: 20px;
  display: inline-block;
  outline: 1px solid;
  margin-right: 10px;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.right-header__login_btn.btn--border {
  margin-bottom: 10px;
  font-size: 16px;
}

.login-mobile-new.user {
  margin-bottom: 0;
  font-weight: 600;
}

.img-arrow-icon.setting-new {
  width: 29px;
}

.menu-footer {
  text-align: left;
  font-size: 11px;
  color: #4E4E4E;
  padding-top: 10px;
  letter-spacing: normal;
}

.right-header__notif {
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  width: 23px;
  height: 23px;
  background-color: #20A647;
  border-radius: 20px;
  margin-right: 5px;
  flex: 0 0 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-header__login.menu_mobile .img-arrow-icon {
  margin-right: 7px;
}

.right-header__login_sign {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-header__login_sign .btn {
  text-align: center !important;
  padding: .65rem 0;
  flex: 0 0 calc(50% - 8px) !important;
}

.scroll-new {
  overflow-x: hidden;
}

@media (min-width: 767px) {
  .right-header__notif,
  .right-header__login_btn,
  .menu-footer {
    display: none !important;
  }
}
