.labelDiscount {
  display: inline-block;
  padding: 4px 8px;
  background-color: #EFFFF4;
  border: 1px solid #20A647;
  border-radius: 25px;
  font-size: 12px;
  color: #20A647;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 136px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.line-trough {
  text-decoration: line-through;
}

.priceDetail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  color: #000;
}

.text-gray {
  color: #949494;
}

.mb-0 {
  margin-bottom: 0;
}

.entry-bottom .entry-thumb {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

@media screen and (min-width: 768px) {
  .entry-bottom .entry-thumb {
    flex-direction: column;
    align-items: flex-start;
  }
}